@page "/note-detail/{SetHashCode:int}"
@using BookBinder.Components.Dialogs
@using BookBinder.Models
@using BookBinder.Services
@using BookBinder.Services.Files
@using BookBinder.Utils
@using BookBinder.UI

@inject AppState _appState;
@inject StateContainer _stateContainer;
@inject IDialogService DialogService
@inject INoteService _noteService;
@inject IJSRuntime _jsRuntime
@inject ITextFileExport _textFileExport;
@inject ISnackbar _snackbar
@inject BlazorComponentBus.ComponentBus _bus
@inject IDialogService _dialogService;

<style>
    .my-sticky-menu {
        position: -webkit-sticky; 
        position: sticky;
        z-index: 1;
        top: 64px;
        background-color: transparent;
    }

    .tab-panel-width {
        width: 150px;
        word-wrap: break-word;
        word-break: break-word;
    }
</style>

@if (BookNote != null)
{
    <MudText Typo="Typo.subtitle1" hidden="@(BookNote.NoteSections.Count > 0 ? true : false)"><b>Yoo crete that first section bruda by clicking that "+"  icon</b></MudText>

    <MudDynamicTabs  @bind-ActivePanelIndex="@UserIndex"
                    AddTab="@AddTabCallback" CloseTab="@CloseTabCallback"
                    MinimumTabWidth="20px"  Elevation="4" Position="Position.Start"
                    AlwaysShowScrollButtons="BookNote.NoteSections.Count > 0 ? true : false"
                    PrevIcon="@Icons.Material.Filled.Circle" NextIcon="@Icons.Material.Outlined.Circle"
                    HideSlider="true" Rounded ApplyEffectsToContainer>
        @foreach (var tab in BookNote.NoteSections)
        {
            <MudTabPanel ID="@tab.Id" Text="@tab.Title" Class="tab-panel-width">
                <MudContainer Fixed="true" Class="pa-0" >


                    <MudTextField ShrinkLabel="true" Label="Title" Text="@tab.Title" TextChanged="(value) => { tab.Title = value; UpdateNote(); }" T="string" Clearable="true" Immediate />

                    <MudGrid>
                        <MudItem xs="6">
                            <MudTextField Disabled="@(tab.Elements.Count < 2)" ShrinkLabel="true" Label="Filter Title" T="string" AutoGrow Immediate @bind-Value="@FilterText" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Disabled="@(tab.Elements.Count < 2)" ShrinkLabel="true" Label="Filter Description" T="string" AutoGrow Immediate @bind-Value="@FilterDescription" />
                        </MudItem>
                    </MudGrid>

                    <MudPaper Class="d-flex justify-space-between flex-grow-1 gap-4 my-sticky-menu mt-1" Elevation="0">
                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="() => AddNewSection(tab)" />
                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.FileOpen" OnClick="() => ExportNote()" />
                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.FormatLineSpacing" OnClick="() => ScrollPage()" />
                    </MudPaper>
                    
                
                    <MudStack>
                        @foreach (var item in tab.Elements.Where(item =>
                                   string.IsNullOrEmpty(FilterText) || item.Name.Contains(FilterText, StringComparison.OrdinalIgnoreCase)
                                   && (string.IsNullOrEmpty(FilterDescription) || item.Description.Contains(FilterDescription, StringComparison.OrdinalIgnoreCase))))
                        {
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudTextField Text="@item.Name" TextChanged="(value) => { item.Name = value; UpdateNote(); }" T="string" AutoGrow Immediate />
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField Text="@item.Description" TextChanged="(value) => { item.Description = value; UpdateNote(); }" T="string" AutoGrow Immediate />
                                </MudItem>
                            </MudGrid>
                            <MudDivider />
                        }
                    </MudStack>
                </MudContainer>

            </MudTabPanel>
        }
    </MudDynamicTabs>
}
else
{
    <p>Loading...</p>
}

<script>
    function OnScrollEvent() {
        var scrollHeight = document.documentElement.scrollHeight;
        var scrollTop = document.documentElement.scrollTop;
        var clientHeight = document.documentElement.clientHeight;
        var scrollMiddle = scrollTop + clientHeight / 2;

        if (scrollMiddle > scrollHeight / 2) {
            // User has scrolled past the middle of the page, scroll to top
            //document.documentElement.scrollTop = 0;
            window.scrollTo({ left: 0, top: 0, behavior: "smooth" });
        } 
        else 
        {
            // User has not scrolled past the middle of the page, scroll to bottom
            //document.documentElement.scrollTop = scrollHeight;
            window.scrollTo({ left: 0, top: document.body.scrollHeight, behavior: "smooth" });
        }
    }
</script>


@code {
    public string FilterText { get; set; }
    public string FilterDescription { get; set; }

    [Parameter] public int SetHashCode { get; set; }
    BookNote BookNote { get; set; }
    public int UserIndex;


    void AddTabCallback() => AddTab(Guid.NewGuid());
    async Task  CloseTabCallback(MudTabPanel panel) => await RemoveTab((Guid)panel.ID);


    protected override void OnInitialized()
    {
        var data = (BookNote)_stateContainer.ObjectTunnel[SetHashCode];

        BookNote = data;

        _appState.SetTitle(BookNote != null ? BookNote.Title : "Note");
        _appState.SetNavigation(true);

    }

    public async Task AddTab(Guid id)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, DisableBackdropClick = false };
        var result = await this.DialogService.Show<NoteSectionDialog>(string.Empty, new DialogParameters(), options).Result;
        if(result.Cancelled || result == null )
        {
            return;
        }

        var sectionTitle = result.Data as string;
        BookNote.NoteSections.Add(new NoteSection() { Id = Guid.NewGuid(), Title = sectionTitle, Elements = new List<NoteSectionElement>() });
        _noteService.UpdateNote(BookNote);
        UserIndex = BookNote.NoteSections.Count - 1; // Automatically switch to the new tab.
        StateHasChanged();
    }

    public async Task RemoveTab(Guid id)
    {
        bool? result = await _dialogService.ShowMessageBox(
          $"Are you sure?",
          "Deleting can not be undone!",
          yesText: "Delete!", cancelText: "Cancel");

        if(result != null && result.Value)
        {
            var tabView = BookNote.NoteSections.SingleOrDefault((t) => Equals(t.Id, id));
            if (tabView is not null)
            {
                BookNote.NoteSections.Remove(tabView);
                _noteService.UpdateNote(BookNote);
            }
        }
       
    }

    private async void ScrollPage()
    {
        await _jsRuntime.InvokeVoidAsync("OnScrollEvent");
    }

    private async Task AddNewSection(NoteSection noteSection)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, DisableBackdropClick = false };
        var result = await this.DialogService.Show<NoteElementDialog>(string.Empty, new DialogParameters(), options).Result;
        var elementFromDialog = result.Data as NoteSectionElement;
        if (elementFromDialog != null && !result.Canceled)
        {
            noteSection.Elements.Add(elementFromDialog);
            _noteService.UpdateNote(BookNote);
        }
    }

    private async Task UpdateNote()
    {
        await Task.Run(() => _noteService.UpdateNote(BookNote));
    }

    private async Task ExportNote()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, DisableBackdropClick = false };
        var result = await this.DialogService.Show<ExportImportDialog>(string.Empty, new DialogParameters(), options).Result;

        var exportToApp = result.Data as ExportOptions?;
        if (exportToApp.HasValue)
        {
            try{
                var userResponseSuccess = await _textFileExport.FileExport(BookNote, exportToApp.Value);
                if(userResponseSuccess)
                {
                    _snackbar.Add("Book note exported", Severity.Success);
                }
            }catch(Exception ex)
            {
                _snackbar.Add("Problem with exporting to file", Severity.Error);
            }
            
        }
    } 
}
